In [37]:
import pandas as pd

# Pull Main Pokedex from pokemondb.net

In [38]:
from splinter import Browser

In [39]:
executable_path = {'executable_path': 'C:/Users/trevo/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [40]:
browser.visit('https://pokemondb.net/pokedex/all')

In [41]:
tables = pd.read_html(browser.html)
browser.quit()

In [42]:
pokedex = tables[0]

## split the 'Type' into type 1 and type 2, filling both columns with the same type if mono-type

In [43]:
type1 = []
type2 = []
for t in pokedex.Type:
    tt = t.split(' ')
    t1 = tt[0]
    t2 = tt[-1]
    type1.append(t1)
    type2.append(t2)

pokedex['Type1'] = type1
pokedex['Type2'] = type2

In [44]:
pokedex.head()

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Type1,Type2
0,1,Bulbasaur,Grass Poison,318,45,49,49,65,65,45,Grass,Poison
1,2,Ivysaur,Grass Poison,405,60,62,63,80,80,60,Grass,Poison
2,3,Venusaur,Grass Poison,525,80,82,83,100,100,80,Grass,Poison
3,3,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80,Grass,Poison
4,4,Charmander,Fire,309,39,52,43,60,50,65,Fire,Fire

## Drop Irrelevant Data

In [45]:
cols = ['#', 'Name', 'Total', 'Type1', 'Type2']
microdex = pokedex[cols]

In [46]:
microdex

        #                         Name  Total     Type1     Type2
0       1                    Bulbasaur    318     Grass    Poison
1       2                      Ivysaur    405     Grass    Poison
2       3                     Venusaur    525     Grass    Poison
3       3       Venusaur Mega Venusaur    625     Grass    Poison
4       4                   Charmander    309      Fire      Fire
...   ...                          ...    ...       ...       ...
1029  890          Eternatus Eternamax   1125    Poison    Dragon
1030  891                        Kubfu    385  Fighting  Fighting
1031  892  Urshifu Single Strike Style    550  Fighting      Dark
1032  892   Urshifu Rapid Strike Style    550  Fighting     Water
1033  893                       Zarude    600      Dark     Grass

[1034 rows x 5 columns]

In [47]:
#api_url = 'https://pokeapi.co/api/v2/'

## add kaggle data

In [48]:
# from https://www.kaggle.com/rounakbanik/pokemon
csv_path = 'C:/Users/trevo/Documents/Bootcamp Class Activites/etl-project/pokemon.csv'

In [49]:
bigdex = pd.read_csv(csv_path)

In [50]:
bigdex.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [51]:
cols = ['pokedex_number','japanese_name','classfication']

In [52]:
bigdex = bigdex[cols]

In [53]:
## join dexes

In [54]:
join_dex = microdex.merge(bigdex, right_on = 'pokedex_number', left_on = '#' )

In [55]:
join_dex

,#,Name,Total,Type1,Type2,pokedex_number,japanese_name,classfication
0,1,Bulbasaur,318,Grass,Poison,1,Fushigidaneフシギダネ,Seed Pokémon
1,2,Ivysaur,405,Grass,Poison,2,Fushigisouフシギソウ,Seed Pokémon
2,3,Venusaur,525,Grass,Poison,3,Fushigibanaフシギバナ,Seed Pokémon
3,3,Venusaur Mega Venusaur,625,Grass,Poison,3,Fushigibanaフシギバナ,Seed Pokémon
4,4,Charmander,309,Fire,Fire,4,Hitokageヒトカゲ,Lizard Pokémon
...,...,...,...,...,...,...,...,...
929,800,Necrozma,600,Psychic,Psychic,800,Necrozmaネクロズマ,Prism Pokémon
930,800,Necrozma Dusk Mane Necrozma,680,Psychic,Steel,800,Necrozmaネクロズマ,Prism Pokémon
931,800,Necrozma Dawn Wings Necrozma,680,Psychic,Ghost,800,Necrozmaネクロズマ,Prism Pokémon
932,800,Necrozma Ultra Necrozma,754,Psychic,Dragon,800,Necrozmaネクロズマ,Prism Pokémon
933,801,Magearna,600,Steel,Fairy,801,Magearnaマギアナ,Artificial Pokémon

In [56]:
cols = ['pokedex_number','Name','classfication','Type1','Type2','Total']

In [57]:
join_dex = join_dex[cols]

In [58]:
#import string
#join_dex.japanese_name = [name.encode("unicode_escape") for name in join_dex.japanese_name]

## Split into dex by type

In [59]:
#test microdex.loc[(microdex.Type1 == 'Fire') | (microdex.Type2 == 'Fire')]

In [60]:
list_of_types = join_dex['Type1'].unique()

In [61]:
if len(list_of_types) != 18:
    print('Error!')
    raise TypeError('error finding list of types')
else:
    print('18 types :)')

18 types :)

In [73]:
typedexs = {}
for typ in list_of_types:
    typedexs[typ] = join_dex.loc[(join_dex.Type1 == typ) | (join_dex.Type2 == typ)]
    typedexs[typ]['id'] = typedexs[typ].index

C:\Users\trevo\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [74]:
typedexs['Fire']

,pokedex_number,Name,classfication,Type1,Type2,Total,id
4,4,Charmander,Lizard Pokémon,Fire,Fire,309,4
5,5,Charmeleon,Flame Pokémon,Fire,Fire,405,5
6,6,Charizard,Flame Pokémon,Fire,Flying,534,6
7,6,Charizard Mega Charizard X,Flame Pokémon,Fire,Dragon,634,7
8,6,Charizard Mega Charizard Y,Flame Pokémon,Fire,Flying,634,8
...,...,...,...,...,...,...,...
848,727,Incineroar,Heel Pokémon,Fire,Dark,530,848
862,741,Oricorio Baile Style,Dancing Pokémon,Fire,Flying,476,862
885,757,Salandit,Toxic Lizard Pokémon,Poison,Fire,320,885
886,758,Salazzle,Toxic Lizard Pokémon,Poison,Fire,480,886
905,776,Turtonator,Blast Turtle Pokémon,Fire,Dragon,485,905

In [63]:
typedexs['Psychic'].Total.describe()

count    108.000000
mean     485.027778
std      135.382218
min      198.000000
25%      385.000000
50%      490.000000
75%      600.000000
max      780.000000
Name: Total, dtype: float64

In [64]:
typedexs['Psychic']

,pokedex_number,Name,classfication,Type1,Type2,Total
35,26,Raichu Alolan Raichu,Mouse Pokémon,Electric,Psychic,485
81,63,Abra,Psi Pokémon,Psychic,Psychic,310
82,64,Kadabra,Psi Pokémon,Psychic,Psychic,400
83,65,Alakazam,Psi Pokémon,Psychic,Psychic,500
84,65,Alakazam Mega Alakazam,Psi Pokémon,Psychic,Psychic,600
...,...,...,...,...,...,...
921,792,Lunala,Moone Pokémon,Psychic,Ghost,680
929,800,Necrozma,Prism Pokémon,Psychic,Psychic,600
930,800,Necrozma Dusk Mane Necrozma,Prism Pokémon,Psychic,Steel,680
931,800,Necrozma Dawn Wings Necrozma,Prism Pokémon,Psychic,Ghost,680
932,800,Necrozma Ultra Necrozma,Prism Pokémon,Psychic,Dragon,754

In [65]:
##output data

In [66]:
from password import password
from sqlalchemy import create_engine
user = "postgres"
host = "localhost"
port = "5432" 
db = "pokemon_db"
uri = f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}"

#uri

In [67]:
thomas = create_engine(uri)

In [68]:
thomas

Engine(postgresql+psycopg2://postgres:***@localhost:5432/pokemon_db)

In [71]:
for typ in list_of_types:
    print(f'''CREATE TABLE {typ} (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );''')

CREATE TABLE Grass (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Fire (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Water (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Bug (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Normal (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Dark (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Poison (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Electric (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Ground (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Ice (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Fairy (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Steel (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Fighting (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Psychic (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Rock (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Ghost (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Dragon (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );
CREATE TABLE Flying (
    id INT PRIMARY KEY,
    pokedex_number INT,
    Name VARCHAR,
    classfication VARCHAR,
    Type1 VARCHAR,
    Type2 VARCHAR,
    Total INT
    );

In [75]:
for typ in list_of_types:
    typedexs[typ].to_sql(name=typ.lower(), con=thomas, if_exists='replace', index=False)

In [76]:
thomas.table_names()

['electric',
 'ground',
 'ice',
 'fairy',
 'steel',
 'fighting',
 'psychic',
 'rock',
 'ghost',
 'dragon',
 'flying',
 'grass',
 'fire',
 'water',
 'bug',
 'normal',
 'dark',
 'poison']

In [36]:
# for typ in list_of_types:
#     print(typedexs[typ].head())
#     print(typ)

    pokedex_number                    Name classfication  Type1   Type2  Total
0                1               Bulbasaur  Seed Pokémon  Grass  Poison    318
1                2                 Ivysaur  Seed Pokémon  Grass  Poison    405
2                3                Venusaur  Seed Pokémon  Grass  Poison    525
3                3  Venusaur Mega Venusaur  Seed Pokémon  Grass  Poison    625
56              43                  Oddish  Weed Pokémon  Grass  Poison    320
Grass
   pokedex_number                        Name   classfication Type1   Type2  \
4               4                  Charmander  Lizard Pokémon  Fire    Fire
5               5                  Charmeleon   Flame Pokémon  Fire    Fire
6               6                   Charizard   Flame Pokémon  Fire  Flying
7               6  Charizard Mega Charizard X   Flame Pokémon  Fire  Dragon
8               6  Charizard Mega Charizard Y   Flame Pokémon  Fire  Flying

   Total
4    309
5    405
6    534
7    634
8    634
Fire
    pokedex_number                      Name        classfication  Type1  \
9                7                  Squirtle  Tiny Turtle Pokémon  Water
10               8                 Wartortle       Turtle Pokémon  Water
11               9                 Blastoise    Shellfish Pokémon  Water
12               9  Blastoise Mega Blastoise    Shellfish Pokémon  Water
72              54                   Psyduck         Duck Pokémon  Water

    Type2  Total
9   Water    314
10  Water    405
11  Water    530
12  Water    630
72  Water    320
Water
    pokedex_number        Name      classfication Type1   Type2  Total
13              10    Caterpie       Worm Pokémon   Bug     Bug    195
14              11     Metapod     Cocoon Pokémon   Bug     Bug    205
15              12  Butterfree  Butterfly Pokémon   Bug  Flying    395
16              13      Weedle      Hairy Pokémon   Bug  Poison    195
17              14      Kakuna     Cocoon Pokémon   Bug  Poison    205
Bug
    pokedex_number                  Name      classfication   Type1   Type2  \
20              16                Pidgey  Tiny Bird Pokémon  Normal  Flying
21              17             Pidgeotto       Bird Pokémon  Normal  Flying
22              18               Pidgeot       Bird Pokémon  Normal  Flying
23              18  Pidgeot Mega Pidgeot       Bird Pokémon  Normal  Flying
24              19               Rattata      Mouse Pokémon  Normal  Normal

    Total
20    251
21    349
22    479
23    579
24    253
Normal
     pokedex_number                      Name        classfication   Type1  \
25               19    Rattata Alolan Rattata        Mouse Pokémon    Dark
27               20  Raticate Alolan Raticate        Mouse Pokémon    Dark
68               52      Meowth Alolan Meowth  Scratch Cat Pokémon    Dark
71               53    Persian Alolan Persian   Classy Cat Pokémon    Dark
117              88      Grimer Alolan Grimer       Sludge Pokémon  Poison

      Type2  Total
25   Normal    253
27   Normal    413
68     Dark    290
71     Dark    440
117    Dark    325
Dark
    pokedex_number                    Name  classfication  Type1   Type2  \
0                1               Bulbasaur   Seed Pokémon  Grass  Poison
1                2                 Ivysaur   Seed Pokémon  Grass  Poison
2                3                Venusaur   Seed Pokémon  Grass  Poison
3                3  Venusaur Mega Venusaur   Seed Pokémon  Grass  Poison
16              13                  Weedle  Hairy Pokémon    Bug  Poison

    Total
0     318
1     405
2     525
3     625
16    195
Poison
    pokedex_number                     Name  classfication     Type1  \
32              25                  Pikachu  Mouse Pokémon  Electric
33              25  Pikachu Partner Pikachu  Mouse Pokémon  Electric
34              26                   Raichu  Mouse Pokémon  Electric
35              26     Raichu Alolan Raichu  Mouse Pokémon  Electric
94              74   Geodude Alolan Geodude   Rock Pokémon      Rock

       Type2  Total
32  Electric    320
33  Electric    430
34  Electric    485
35   Psychic    485
94  Electric    300
Electric
    pokedex_number       Name  classfication   Type1   Type2  Total
36              27  Sandshrew  Mouse Pokémon  Ground  Ground    300
38              28  Sandslash  Mouse Pokémon  Ground  Ground    450
42              31  Nidoqueen  Drill Pokémon  Poison  Ground    505
45              34   Nidoking  Drill Pokémon  Poison  Ground    505
63              50    Diglett   Mole Pokémon  Ground  Ground    265
Ground
     pokedex_number                        Name     classfication  Type1  \
37               27  Sandshrew Alolan Sandshrew     Mouse Pokémon    Ice
39               28  Sandslash Alolan Sandslash     Mouse Pokémon    Ice
49               37        Vulpix Alolan Vulpix       Fox Pokémon    Ice
51               38  Ninetales Alolan Ninetales       Fox Pokémon    Ice
115              87                     Dewgong  Sea Lion Pokémon  Water

     Type2  Total
37   Steel    300
39   Steel    450
49     Ice    299
51   Fairy    505
115    Ice    475
Ice
    pokedex_number                        Name    classfication   Type1  \
46              35                    Clefairy    Fairy Pokémon   Fairy
47              36                    Clefable    Fairy Pokémon   Fairy
51              38  Ninetales Alolan Ninetales      Fox Pokémon     Ice
52              39                  Jigglypuff  Balloon Pokémon  Normal
53              40                  Wigglytuff  Balloon Pokémon  Normal

    Type2  Total
46  Fairy    323
47  Fairy    483
51  Fairy    505
52  Fairy    270
53  Fairy    435
Fairy
    pokedex_number                        Name        classfication   Type1  \
37              27  Sandshrew Alolan Sandshrew        Mouse Pokémon     Ice
39              28  Sandslash Alolan Sandslash        Mouse Pokémon     Ice
64              50      Diglett Alolan Diglett         Mole Pokémon  Ground
66              51      Dugtrio Alolan Dugtrio         Mole Pokémon  Ground
69              52      Meowth Galarian Meowth  Scratch Cat Pokémon   Steel

    Type2  Total
37  Steel    300
39  Steel    450
64  Steel    265
66  Steel    425
69  Steel    290
Steel
    pokedex_number       Name       classfication     Type1     Type2  Total
74              56     Mankey  Pig Monkey Pokémon  Fighting  Fighting    305
75              57   Primeape  Pig Monkey Pokémon  Fighting  Fighting    455
80              62  Poliwrath     Tadpole Pokémon     Water  Fighting    510
85              66     Machop  Superpower Pokémon  Fighting  Fighting    305
86              67    Machoke  Superpower Pokémon  Fighting  Fighting    405
Fighting
    pokedex_number                    Name  classfication     Type1    Type2  \
35              26    Raichu Alolan Raichu  Mouse Pokémon  Electric  Psychic
81              63                    Abra    Psi Pokémon   Psychic  Psychic
82              64                 Kadabra    Psi Pokémon   Psychic  Psychic
83              65                Alakazam    Psi Pokémon   Psychic  Psychic
84              65  Alakazam Mega Alakazam    Psi Pokémon   Psychic  Psychic

    Total
35    485
81    310
82    400
83    500
84    600
Psychic
    pokedex_number                      Name    classfication Type1     Type2  \
93              74                   Geodude     Rock Pokémon  Rock    Ground
94              74    Geodude Alolan Geodude     Rock Pokémon  Rock  Electric
95              75                  Graveler     Rock Pokémon  Rock    Ground
96              75  Graveler Alolan Graveler     Rock Pokémon  Rock  Electric
97              76                     Golem  Megaton Pokémon  Rock    Ground

    Total
93    300
94    300
95    390
96    390
97    495
Rock
     pokedex_number                    Name        classfication  Type1  \
122              92                  Gastly          Gas Pokémon  Ghost
123              93                 Haunter          Gas Pokémon  Ghost
124              94                  Gengar       Shadow Pokémon  Ghost
125              94      Gengar Mega Gengar       Shadow Pokémon  Ghost
138             105  Marowak Alolan Marowak  Bone Keeper Pokémon   Fire

      Type2  Total
122  Poison    310
123  Poison    405
124  Poison    500
125  Poison    600
138   Ghost    425
Ghost
     pokedex_number                        Name    classfication   Type1  \
7                 6  Charizard Mega Charizard X    Flame Pokémon    Fire
135             103  Exeggutor Alolan Exeggutor  Coconut Pokémon   Grass
187             147                     Dratini   Dragon Pokémon  Dragon
188             148                   Dragonair   Dragon Pokémon  Dragon
189             149                   Dragonite   Dragon Pokémon  Dragon

      Type2  Total
7    Dragon    634
135  Dragon    530
187  Dragon    300
188  Dragon    420
189  Flying    600
Dragon
    pokedex_number                        Name      classfication   Type1  \
6                6                   Charizard      Flame Pokémon    Fire
8                6  Charizard Mega Charizard Y      Flame Pokémon    Fire
15              12                  Butterfree  Butterfly Pokémon     Bug
20              16                      Pidgey  Tiny Bird Pokémon  Normal
21              17                   Pidgeotto       Bird Pokémon  Normal

     Type2  Total
6   Flying    534
8   Flying    634
15  Flying    395
20  Flying    251
21  Flying    349
Flying

In [79]:
thomas.connect().close()