In [1]:
import pandas as pd

# Pull Main Pokedex from pokemondb.net

In [2]:
from splinter import Browser

In [3]:
executable_path = {'executable_path': 'C:/Users/trevo/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
browser.visit('https://pokemondb.net/pokedex/all')

In [5]:
tables = pd.read_html(browser.html)
browser.quit()

In [6]:
pokedex = tables[0]

## split the 'Type' into type 1 and type 2, filling both columns with the same type if mono-type

In [7]:
type1 = []
type2 = []
for t in pokedex.Type:
    tt = t.split(' ')
    t1 = tt[0]
    t2 = tt[-1]
    type1.append(t1)
    type2.append(t2)

pokedex['Type1'] = type1
pokedex['Type2'] = type2

In [8]:
pokedex.head()

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Type1,Type2
0,1,Bulbasaur,Grass Poison,318,45,49,49,65,65,45,Grass,Poison
1,2,Ivysaur,Grass Poison,405,60,62,63,80,80,60,Grass,Poison
2,3,Venusaur,Grass Poison,525,80,82,83,100,100,80,Grass,Poison
3,3,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80,Grass,Poison
4,4,Charmander,Fire,309,39,52,43,60,50,65,Fire,Fire

## Drop Irrelevant Data

In [9]:
cols = ['#', 'Name', 'Total', 'Type1', 'Type2']
microdex = pokedex[cols]

In [10]:
microdex

        #                         Name  Total     Type1     Type2
0       1                    Bulbasaur    318     Grass    Poison
1       2                      Ivysaur    405     Grass    Poison
2       3                     Venusaur    525     Grass    Poison
3       3       Venusaur Mega Venusaur    625     Grass    Poison
4       4                   Charmander    309      Fire      Fire
...   ...                          ...    ...       ...       ...
1029  890          Eternatus Eternamax   1125    Poison    Dragon
1030  891                        Kubfu    385  Fighting  Fighting
1031  892  Urshifu Single Strike Style    550  Fighting      Dark
1032  892   Urshifu Rapid Strike Style    550  Fighting     Water
1033  893                       Zarude    600      Dark     Grass

[1034 rows x 5 columns]

In [11]:
#api_url = 'https://pokeapi.co/api/v2/'

## add kaggle data

In [12]:
# from https://www.kaggle.com/rounakbanik/pokemon
csv_path = 'C:/Users/trevo/Documents/Bootcamp Class Activites/etl-project/pokemon.csv'

In [13]:
bigdex = pd.read_csv(csv_path)

In [14]:
bigdex.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [15]:
cols = ['pokedex_number','japanese_name','classfication']

In [16]:
bigdex = bigdex[cols]

In [17]:
## join dexes

In [18]:
join_dex = microdex.merge(bigdex, right_on = 'pokedex_number', left_on = '#' )

In [19]:
join_dex

,#,Name,Total,Type1,Type2,pokedex_number,japanese_name,classfication
0,1,Bulbasaur,318,Grass,Poison,1,Fushigidaneフシギダネ,Seed Pokémon
1,2,Ivysaur,405,Grass,Poison,2,Fushigisouフシギソウ,Seed Pokémon
2,3,Venusaur,525,Grass,Poison,3,Fushigibanaフシギバナ,Seed Pokémon
3,3,Venusaur Mega Venusaur,625,Grass,Poison,3,Fushigibanaフシギバナ,Seed Pokémon
4,4,Charmander,309,Fire,Fire,4,Hitokageヒトカゲ,Lizard Pokémon
...,...,...,...,...,...,...,...,...
929,800,Necrozma,600,Psychic,Psychic,800,Necrozmaネクロズマ,Prism Pokémon
930,800,Necrozma Dusk Mane Necrozma,680,Psychic,Steel,800,Necrozmaネクロズマ,Prism Pokémon
931,800,Necrozma Dawn Wings Necrozma,680,Psychic,Ghost,800,Necrozmaネクロズマ,Prism Pokémon
932,800,Necrozma Ultra Necrozma,754,Psychic,Dragon,800,Necrozmaネクロズマ,Prism Pokémon
933,801,Magearna,600,Steel,Fairy,801,Magearnaマギアナ,Artificial Pokémon

In [20]:
cols = ['pokedex_number','Name','classfication','Type1','Type2','Total','japanese_name']

In [21]:
join_dex = join_dex[cols]

In [22]:
join_dex

,pokedex_number,Name,classfication,Type1,Type2,Total,japanese_name
0,1,Bulbasaur,Seed Pokémon,Grass,Poison,318,Fushigidaneフシギダネ
1,2,Ivysaur,Seed Pokémon,Grass,Poison,405,Fushigisouフシギソウ
2,3,Venusaur,Seed Pokémon,Grass,Poison,525,Fushigibanaフシギバナ
3,3,Venusaur Mega Venusaur,Seed Pokémon,Grass,Poison,625,Fushigibanaフシギバナ
4,4,Charmander,Lizard Pokémon,Fire,Fire,309,Hitokageヒトカゲ
...,...,...,...,...,...,...,...
929,800,Necrozma,Prism Pokémon,Psychic,Psychic,600,Necrozmaネクロズマ
930,800,Necrozma Dusk Mane Necrozma,Prism Pokémon,Psychic,Steel,680,Necrozmaネクロズマ
931,800,Necrozma Dawn Wings Necrozma,Prism Pokémon,Psychic,Ghost,680,Necrozmaネクロズマ
932,800,Necrozma Ultra Necrozma,Prism Pokémon,Psychic,Dragon,754,Necrozmaネクロズマ
933,801,Magearna,Artificial Pokémon,Steel,Fairy,600,Magearnaマギアナ

## Split into dex by type

In [23]:
#test microdex.loc[(microdex.Type1 == 'Fire') | (microdex.Type2 == 'Fire')]

In [24]:
list_of_types = join_dex['Type1'].unique()

In [25]:
if len(list_of_types) != 18:
    print('Error!')
    raise TypeError('error finding list of types')
else:
    print('18 types :)')

18 types :)

In [26]:
typedexs = {}
for typ in list_of_types:
    typedexs[typ] = join_dex.loc[(join_dex.Type1 == typ) | (join_dex.Type2 == typ)]

In [27]:
typedexs['Psychic'].Total.describe()

count    108.000000
mean     485.027778
std      135.382218
min      198.000000
25%      385.000000
50%      490.000000
75%      600.000000
max      780.000000
Name: Total, dtype: float64

In [28]:
typedexs['Psychic']

,pokedex_number,Name,classfication,Type1,Type2,Total,japanese_name
35,26,Raichu Alolan Raichu,Mouse Pokémon,Electric,Psychic,485,Raichuライチュウ
81,63,Abra,Psi Pokémon,Psychic,Psychic,310,Caseyケーシィ
82,64,Kadabra,Psi Pokémon,Psychic,Psychic,400,Yungererユンゲラー
83,65,Alakazam,Psi Pokémon,Psychic,Psychic,500,Foodinフーディン
84,65,Alakazam Mega Alakazam,Psi Pokémon,Psychic,Psychic,600,Foodinフーディン
...,...,...,...,...,...,...,...
921,792,Lunala,Moone Pokémon,Psychic,Ghost,680,Lunalaルナアーラ
929,800,Necrozma,Prism Pokémon,Psychic,Psychic,600,Necrozmaネクロズマ
930,800,Necrozma Dusk Mane Necrozma,Prism Pokémon,Psychic,Steel,680,Necrozmaネクロズマ
931,800,Necrozma Dawn Wings Necrozma,Prism Pokémon,Psychic,Ghost,680,Necrozmaネクロズマ
932,800,Necrozma Ultra Necrozma,Prism Pokémon,Psychic,Dragon,754,Necrozmaネクロズマ

In [ ]:
##output data

In [ ]:
from password import password
user = "postgres"
host = "localhost"
port = "5432" 
db = "customer_db"
uri = f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}"

uri